[submodule "birdnest-backend"]
	path = birdnest-backend
	url = https://github.com/Duyen-codes/birdnest-backend
[submodule "birdnest-frontend"]
	path = birdnest-frontend
	url = https://github.com/Duyen-codes/birdnest-frontend
